.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid rgb(128, 41, 0);
  padding: 10px;
}

.header{
  padding: 10px;
}

footer {
  font-size: small;
  color: darkolivegreen;
}

body {
  padding: 10px;
}